<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
    <a class="navbar-brand d-flex w-50 mr-auto" href="/">Yandex 2 Goods</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="nav">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end text-right">
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth_bp.signup') }}">Sign-Up</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile_bp.user_info', user_email=current_user.email) }}">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile_bp.profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth_bp.logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
